.basicSettings{
    .info{
        padding: 30px;
    }

    h3, p, h4{
        font-family: Montserrat;
        color: white;
        margin-bottom: 10px;
    }

    span{
        color: rgb(231, 10, 53)
    }
}

