.basicAppWindow{
    /* min-width: 700px;
    min-height: 450px; */
    width: 65vw;
    height: 70vh;
    background-color: black;
    // border: 1px solid rgb(231, 10, 53);
    border-radius: 10px;
    color: white;

    // position: absolute;
    // top: 43%;
    // left: 50%;

    display: grid;
    place-items: center;

    z-index: 5;
}

.firstWindow, .secondWindow, .thirdWindow, .fourthWindow, .window_active{
    position: absolute;
    top: 43%;
    left: 50%;
}

.window_active{
    transform: translate(-50%, -50%);
    z-index: 10;
}

.firstWindow{
    transform: translate(-50%, -50%);
}

.secondWindow{
    transform: translate(-54%,-47%);
}
.thirdWindow{
    transform: translate(-58%,-44%);
}
.fourthWindow{
    transform: translate(-62%,-41%);
}

.fullScreen{
    // animation: fullScreen .4s forwards ease-in-out;
    width: 100vw;
    height: calc(100vh - (2rem + 70px));
}

.partScreen{
    // animation: partScreen .4s forwards ease-in-out;
    width: 65vw;
    height: 70vh;
}



// @keyframes fullScreen {
//     from{
//         width: 65vw;
//         height: 75vh;
//     }
//     to{
//         width: 100%;
//         height: 100vh;
//         top: 50%;
//         border-radius: 0;
//     }
// }
// @keyframes partScreen {
//     from{
//         width: 100%;
//         height: 100vh;
//         top: 50%;
//         border-radius: 0;
//     }
//     to{
//         width: 65vw;
//         height: 75vh;
//     }
// }