.navigation-panel {
    position: absolute;
    bottom: .8rem;
    left: 50%;
    transform: translateX(-50%);   
    width: 80%;
    height: 60px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    z-index: 5;
}